.navbar-brand{
    font-size:20px;
}
#logo{
    max-width:65px;
    max-height:65px;
}

.carousel-pic{
    background-size:auto;
}

#navHeader a {
    font-family: "Arial Black", Gadget, sans-serif;
}

.featured-project {
    min-width: 150px;
    min-height: 200px;
}

.featured-challenge {
    width: 320px;
    height: 220px;
}